body{
  /*background-color: #F999B7;*/
  background-color: #FAEDF0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  /*font-family: 'Mea Culpa', cursive;*/
  /*font-family: 'Italianno', cursive;*/

}

.span-Im{
  font-size: 2.5rem;
}

h1{
  color: #161853;
  /*
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  */
  font-size: 4.625rem;
  width: 50%;
  margin: 0 auto 0 auto;
  font-family: 'Moon Dance', cursive;
}

h2{
  color: #161853;
  font-family: 'Montserrat', sans-serif;
  margin: 30px auto;
}

h3{
  font-family: 'Montserrat', sans-serif;
}

p{
  color: #968C83;
}

hr{
    border-style: none;
    border-top-style: dotted;
    width: 3%;
    border-color: #FFE3E3;
    border-width: 5px;
    margin: 80px auto;
}

.footer-link{
  color: #968C83;
  font-family: 'Montserrat', sans-serif;
  margin: 5px 20px 10px;
  text-decoration: none;
}

.footer-link:hover{
  color: brown;
}

.cloud1{
  position: relative;
  margin: 0 35% 0 65%;
}

.cloud2{
  position: relative;
  margin: 0 70% 0 30%;
}

.mountain{
  margin-bottom: 20px;
}

.profile-pic{
  width: 200px;
  height: 200px;
  margin: 20px auto 0 auto;
}

.cooking{
  width: 150px;
  height: 150px;
}

.fishing{
  margin: 20px auto;
  width: 150px;
  height: 150px;
}


.top-container{
  background-color: #FFE3E3;
  padding: 20px;
  margin: 20px;
  position: relative;
}

.middle-container{
}

.bottom-container{
  background-color: #FFE3E3;
  margin-bottom: 0;
  padding: 20px 0 10px;
}

.btn {
  background: #6370c7;
  background-image: -webkit-linear-gradient(top, #6370c7, #191c61);
  background-image: -moz-linear-gradient(top, #6370c7, #191c61);
  background-image: -ms-linear-gradient(top, #6370c7, #191c61);
  background-image: -o-linear-gradient(top, #6370c7, #191c61);
  background-image: linear-gradient(to bottom, #6370c7, #191c61);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 12px 5px 12px;
  text-decoration: none;
}

.btn:hover {
  background: #413ef0;
  background-image: -webkit-linear-gradient(top, #413ef0, #6c6cf0);
  background-image: -moz-linear-gradient(top, #413ef0, #6c6cf0);
  background-image: -ms-linear-gradient(top, #413ef0, #6c6cf0);
  background-image: -o-linear-gradient(top, #413ef0, #6c6cf0);
  background-image: linear-gradient(to bottom, #413ef0, #6c6cf0);
  text-decoration: none;
}

.copyright{
  font-size: 0.8rem;
}
